@if $debug == true {
    * {
        outline: 1px solid #dc143c;
    }
}

html {
    background-color: $html-bg-color;
    font-size: 16px;
    height: 100%;
}

body {
    // sass-lint:disable-all
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    // sass-lint:enable-all

    background-color: $body-bg-color;
    color: $body-text-color;
    font-family: $basic-font-family;
    font-size: 1rem;
    font-variant-ligatures: common-ligatures;
    font-weight: $basic-font-weigth;
    line-height: 1.5;
    min-height: 100%;
    min-height: -webkit-fill-available;
    text-rendering: optimizeLegibility;

    @include media('>md') {
        font-size: 1.275rem;
    }
}

p + p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

a {
    align-items: center;
    color: $color-gray--darkest;
    display: inline-block;
    display: inline-flex;
    flex-direction: row;
    gap: 0.2em;
    line-height: 1rem;
    transform: translate3d(0, 0, 0);
    transition: opacity 300ms;

    &[class] {
        text-decoration: none;
    }

    // @media (hover: hover), (hover: on-demand) {

    //     &:hover {

    //         &:not([class*='active']) {}
    //     }

    // }

}

img {
    border-radius: $border-radius;
    display: block;
    height: auto;
    width: 100%;
}

svg {
    fill: currentColor;
}

figure {
    border: 1px solid $color-gray--lightest;
    // margin-bottom: 4rem;
    position: relative;
}

figcaption {
    font-size: .7em;
    font-style: italic;
    left: 0;
    position: absolute;
    text-align: center;
    top: calc(100% + .5em);
    width: 100%;
}

figure +,
video + {

    figure,
    iframe,
    img,
    video {
        margin-top: 2rem;
    }

}

strong {
    font-weight: bolder;
}