.page {
    &__title {
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: -.025em;
        line-height: 1;
        margin-bottom: 2rem;
        transform: translateX(-4px);

        @include media('>md') {
            font-size: 3.5rem;
            font-size: calc(3rem + .25vw);
        }

    }

    &__subtitle {
        margin-top: 2em;
        margin-bottom: .5em;
    }

    &__intro {
        font-size: 1.5rem;
        font-size: calc(1rem + .6vw);
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 1em;
    }

    &__read-more {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

}
