.site {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;

    &__header {
        align-items: flex-start;
        display: flex;
        flex-shrink: 0;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto 4rem;
        max-width: $container-max-width;
        position: relative;
        width: 100%;

        @include media('>lg') {
            align-items: baseline;
        }

        > * {
            &:first-child {
                margin-bottom: 1.5rem;
                margin-right: auto;
                width: 100%;

                @include media('>lg') {
                    margin-bottom: 0;
                    width: unset;
                }
            }

        }

    }

    &__main {
        margin-left: auto;
        margin-right: auto;
        max-width: $container-max-width;
        width: 100%;
    }

    &__title {
        color: $color-gray--darkest;
        display: block;
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: -.025em;
        line-height: 1;

        @include media('>lg') {
            margin-bottom: .5rem;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;

        > * {
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        > *:not(:first-of-type) {
            margin-left: 1rem;
        }

    }

    &__link {
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: -.025em;
        opacity: .5;
        padding: 0;

        //sass-lint:disable mixins-before-declarations
        @include media('>lg') {
            font-size: 1.25rem;
        }
        //sass-lint:enable mixins-before-declarations

        &:hover {
            opacity: 1;
        }

        &--active {
            @include active('bottom');

            opacity: 1;
        }

    }

    &__contact {
        color: $color-gray;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(3px);

        @include media('>lg') {
            position: relative;
            right: unset;
            top: unset;
        }

        a {
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }

}
