html,
body {
    font-size: 16px;
    height: 100%;

    @include media('>md') {
        font-size: 20px;
    }
}

body {
    // sass-lint:disable-all
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    // sass-lint:enable-all
    background-color: $body-bg-color;
    color: $body-text-color;
    font-family: $font-family--default;
    font-weight: 400;
    line-height: 1.5;
    padding: 2rem 1rem 0;

    @include media('>md') {
        padding-left: 2rem;
        padding-right: 0;
    }
}

.metropolis {
    font-family: $font-family--inhanced;
}

header {
    max-width: $container-max-width;
}

main {
    padding-bottom: 2rem;
    position: relative;

    @include media('>md') {
        max-width: $container-max-width;
    }
}

p {
    margin-bottom: 1.5em;
}

ul {
    list-style: none;
}

a {
    color: $color-gray--darkest;
    display: inline-block;
    // opacity: .6;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: opacity 300ms;

    @media (hover: hover), (hover: on-demand) {

        &:hover {

            &:not([class*='active']) {
                // color: $color-gray--darkest;
                // opacity: 1;
            }
        }

    }

}

img {
    display: block;
    height: auto;
    width: 100%;
}

svg {
    fill: currentColor;
}

figure {
    border: 1px solid $color-gray--lightest;
    margin-bottom: 3rem;
    position: relative;
}

figcaption {
    font-size: .8em;
    font-style: italic;
    position: absolute;
    top: calc(100% + .25em);
    width: 100%;
}

figure +,
video + {
    figure,
    iframe,
    img,
    video {
        margin-top: 2rem;
    }
}
