.page {
    &__title {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: -.025em;
        line-height: 1;
        margin-bottom: .85rem;
        padding-bottom: .25rem;

        @include media('>md') {
            font-size: 4rem;
            font-size: calc(4rem + .75vw);
        }

    }

    &__intro {
        font-size: 1.5rem;
        font-size: calc(1.5rem + .4vw);
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 1.85rem;
    }

}
