.page {
    &__title {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: -.05em;
        line-height: 1;
        margin-bottom: .25em;;
    }

    &__intro {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.25;
    }
}
