.site {
    &__title {
        @include line;

        display: block;
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: .075em;
        margin-top: 4rem;
        text-transform: uppercase;
        word-spacing: .2em;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        margin-bottom: 8rem;
        margin-top: 1rem;

        > * {
            margin-right: 2rem;
        }

    }

    &__link {
        @include line-on-hover;

        display: inline-block;
        font-size: 1rem;
        line-height: 1;
        min-width: 5em;

        &--active {
            font-weight: 700;
            pointer-events: none;
        }

    }

    &__contact {
        @include line(top);
    }

}
