.site {
    padding: 1rem;

    &__header {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
        padding-top: 1rem;

        // @include media('>md') { }

        > * {
            margin-right: 2rem;
        }

    }

    &__main {
        flex: 1;
        max-width: $container-max-width;
    }

    &__title {
        color: $color-gray--darkest;
        display: block;
        font-size: 1.75rem;
        font-weight: 700;
        letter-spacing: -.025em;
        margin-bottom: .5rem;
    }

    &__nav {
        display: flex;
        flex-direction: row;

        > *:not(:first-of-type) {
            margin-left: 1rem;
        }

    }

    &__link {
        display: inline-block;
        font-size: 1rem;
        letter-spacing: -.025em;
        opacity: .5;
        padding: 0;

        //sass-lint:disable mixins-before-declarations
        @include media('>md') {
            font-size: 1.25rem;
        }
        //sass-lint:enable mixins-before-declarations

        &:hover {
            opacity: 1;
        }

        &--active {
            @include active('bottom');

            opacity: 1;
        }

    }

    &__contact {
        color: $color-gray;
        transform: translateY(3px);

        a {
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }

}
