.site {
    &__title {
        @include line;

        color: $color-gray--darkest;
        display: block;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .075em;
        text-transform: uppercase;
        word-spacing: .2em;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        margin-bottom: 7rem;
        margin-top: 1rem;

        > * {
            margin-right: 2rem;
        }

        @include media('>md') {
            margin-bottom: 8rem;
        }

    }

    &__link {
        @include line-on-hover;

        display: inline-block;
        font-size: 1rem;
        line-height: 1;
        padding: .15em .25em .2em;

        &--active {
            @include active;
            // color: $color-gray--darkest;
        }

    }

    &__contact {
        @include line(top);

        color: $color-gray--darkest;
    }

}
