<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vicente Sarmento | designer</title>
        <link rel="stylesheet" href="{{ '/styles/styles.css' | url }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body class="site">
        <header class="site__header">
            <a class="site__title" href="../../">Vicente Sarmento</a>
            {% include "nav.njk" %}
        </header>
        <main class="site__main">
            {{content | safe}}
        </main>
        <script src="js/projects.js"></script>
    </body>
</html>