<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vicente Sarmento | Product Designer</title>
        <link rel="stylesheet" href="{{ '/styles/styles.css' | url }}">
        {# <link rel="preconnect" href="https://fonts.googleapis.com"> #}
        {# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> #}
        {# <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> #}
    </head>
    <body class="site">
        <header class="site__header">
            <a class="site__title" href="../../">Vicente Sarmento</a>
            {% include "nav.njk" %}
        </header>
        <main class="site__main">
            <!-- Temporary HTML -->
            {# <h1>Time to rebuild! 🚧</h1>
            <p>I am rebuilding my porfolio and... well things are messy here! To spare you cliking in links that can be broken or see styles may not load, I took everything away.</p>
            <p>No navigation, no work to see, no nothing. Except a friendly message. 😉</p>
            <p>Things will be ready soon... I hope. 🙏🏻</p>
            <p>While I work on things here, feel free to check the <a href="2022/">old version</a> or say hi in <a href="https://www.linkedin.com/in/vicentesarmento/" target="_blank">LinkedIn {% include "../icons/external-link.svg" %}</a>. And you can always <a href="../resume-vicente_sarmento.pdf" target="_blank">download my resume {% include "../icons/external-link.svg" %}</a>.</p> #}
            
            <!-- New Eleventy content -->
            {{content | safe}}
        </main>
        <script src="js/projects.js"></script>
    </body>
</html>