//------------------------------------
// #Rhythm
//------------------------------------

// Recurso para conferir se a página está seguindo um ritmo, padrões de distância ou não.
// Pequenos desvios os quebras podem ocorrer, desde que conscientes ou controlados.

@if $show-rhythm == true {
    $rhythm-color: hsl(50%, 50%, 0);

    body {
        position: relative;

        &::before,
        &::after {
            content: '';
            height: 100%;
            left: 50%;
            pointer-events: none;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
            width: 100%;
            z-index: 9999;
        }

        @if $show-h-rhythm == true {
            &::before {
                background-image: repeating-linear-gradient(
                to right,
                transparentize($rhythm-color, .8),
                transparentize($rhythm-color, .8) 1px,
                transparentize($rhythm-color, 1) 1px,
                transparentize($rhythm-color, 1) 1rem
                );
            }
        }

        @if $show-v-rhythm == true {
            &::after {
                background-image: repeating-linear-gradient(
                to bottom,
                transparentize($rhythm-color, .8),
                transparentize($rhythm-color, .8) 1px,
                transparentize($rhythm-color, 1) 1px,
                transparentize($rhythm-color, 1) 1rem
                );
            }
        }
    }
}