// Normal
@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    /* Thin */
    src: url('../fonts/ArticulatCF-Thin.woff2') format('woff2'),
        url('../fonts/ArticulatCF-ThinOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    /* ExtraLight */
    src: url('../fonts/ArticulatCF-ExtraLight.woff2') format('woff2'),
        url('../fonts/ArticulatCF-ExtraLightOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    /* Light */
    src: url('../fonts/ArticulatCF-Light.woff2') format('woff2'),
        url('../fonts/ArticulatCF-LightOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    /* Regular */
    src: url('../fonts/ArticulatCF-Regular.woff2') format('woff2'),
        url('../fonts/ArticulatCF-RegularOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    /* Medium */
    src: url('../fonts/ArticulatCF-Medium.woff2') format('woff2'),
        url('../fonts/ArticulatCF-MediumOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    /* Demi */
    src: url('../fonts/ArticulatCF-Demi.woff2') format('woff2'),
        url('../fonts/ArticulatCF-DemiOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    /* Bold */
    src: url('../fonts/ArticulatCF-Bold.woff2') format('woff2'),
        url('../fonts/ArticulatCF-BoldOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    /* ExtraBold */
    src: url('../fonts/ArticulatCF-ExtraBold.woff2') format('woff2'),
        url('../fonts/ArticulatCF-ExtraBoldOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    /* Heavy */
    src: url('../fonts/ArticulatCF-Heavy.woff2') format('woff2'),
        url('../fonts/ArticulatCF-HeavyOblique.woff') format('woff');
}

// Italic
@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: italic;
    font-weight: 100;
    /* Thin */
    src: url('../fonts/ArticulatCF-ThinOblique.woff2') format('woff2'),
        url('../fonts/ArticulatCF-ThinObliqueOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: italic;
    font-weight: 200;
    /* ExtraLight */
    src: url('../fonts/ArticulatCF-ExtraLightOblique.woff2') format('woff2'),
        url('../fonts/ArticulatCF-ExtraLightObliqueOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: italic;
    font-weight: 300;
    /* Light */
    src: url('../fonts/ArticulatCF-LightOblique.woff2') format('woff2'),
        url('../fonts/ArticulatCF-LightObliqueOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    /* Regular */
    src: url('../fonts/ArticulatCF-RegularOblique.woff2') format('woff2'),
        url('../fonts/ArticulatCF-RegularObliqueOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: italic;
    font-weight: 500;
    /* Medium */
    src: url('../fonts/ArticulatCF-MediumOblique.woff2') format('woff2'),
        url('../fonts/ArticulatCF-MediumObliqueOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: italic;
    font-weight: 600;
    /* Demi */
    src: url('../fonts/ArticulatCF-DemiOblique.woff2') format('woff2'),
        url('../fonts/ArticulatCF-DemiObliqueOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    /* Bold */
    src: url('../fonts/ArticulatCF-BoldOblique.woff2') format('woff2'),
        url('../fonts/ArticulatCF-BoldObliqueOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: italic;
    font-weight: 800;
    /* ExtraBold */
    src: url('../fonts/ArticulatCF-ExtraBoldOblique.woff2') format('woff2'),
        url('../fonts/ArticulatCF-ExtraBoldObliqueOblique.woff') format('woff');
}

@font-face {
    font-family: 'ArticulatCF';
    font-display: swap;
    font-style: italic;
    font-weight: 900;
    /* Heavy */
    src: url('../fonts/ArticulatCF-HeavyOblique.woff2') format('woff2'),
        url('../fonts/ArticulatCF-HeavyObliqueOblique.woff') format('woff');
}