.btn {
  align-items: center;
  border: 2px solid currentColor;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  letter-spacing: .025em;
  line-height: 1;
  padding: .5em 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 300ms;
  white-space: nowrap;

  &:hover {
    background-color: $color--active;
  }

}
