.color-palette {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25rem;
    justify-content: flex-start;
    margin: 2rem 0;

    > * {
        $size: 4rem;

        flex: 0 0 $size;
        padding-top: $size;
        position: relative;

        &::after {
            bottom: 0;
            // border-radius: 50%;
            box-shadow: 0 0 2px $color-gray--dark;
            content: '';
            left: 0;
            margin: .5rem;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

}
