.flow {
    $this: &;

    &-sm > * + * {
        margin-top: 1rem;
    }

    &-md > * + * {
        margin-top: 2rem;
    }

    &-lg > * + * {
        margin-top: 3rem;
    }

    &-xl > * + * {
        margin-top: 5rem;
    }

    &-xxl > * + * {
        margin-top: 7rem;
    }

}
