.internal-nav {
    background-color: transparentize($color-black, .1);
    color: $color-white;
    padding: 1rem 2rem;

    a {
        color: inherit;
    }

    &__body {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: $container-max-width;
        width: 100%;
    }

    &__title {
        display: none;
        font-weight: 700;
        line-height: 1;
        opacity: 1;

        @include media('>md') {
            display: block;
            flex: 0 0 auto;
            font-size: 2rem;
            margin-auto: 2rem;
        }

    }

    &__nav {
        opacity: .85;
        width: 35rem;
    }

    &__list {
        display: flex;
        flex-direction: row;
        font-size: .85em;
        justify-content: space-around;

        > *:not(:first-child) {
            margin-left: 2rem;
        }

        @include media('>md') {
            justify-content: flex-end;
        }

    }


    &__link {
        font-size: 1rem;

        @include media('>md') {
            font-size: 1.25rem;
        }

        &--active {
            @include active('bottom');
        }

    }

}
