.project {
    position: relative;

    &__nav {
        position: absolute;
        right: -2rem;
        text-align: right;
        top: 0;
        transform: translateX(100%);

        &--fixed {
            position: fixed;
            right: calc(100% - 35em - 4rem);
        }
    }

    &__header {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
    }

    &__cover {
        display: block;
        height: auto;
        max-width: 100%;
        width: 10rem;
    }

    &__responsible {
        display: inline-block;
        font-size: .8em;
        margin-bottom: 1em;
        padding-right: .5em;
        position: relative;

        &::after {
            background-color: $color-gray--lightest;
            bottom: 0;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 150%;
            z-index: -1;
        }

    }

    &__link {

        &--active {
            font-weight: 700;
        }

    }

    &__step {
        @include line;

        font-size: 1rem;
        font-weight: 900;
        letter-spacing: .075em;
        margin-bottom: 1em;
        padding-top: 2em;
        text-transform: uppercase;
    }


}
