.project {
    position: relative;

    &__cover {
        display: block;
        height: auto;
        max-width: 100%;
        width: 10rem;
    }

    &__responsible {
        background-color: $color-gray--lightest;
        display: block;
        font-size: .85rem;
        margin-bottom: 1rem;
        padding: .5rem;
        position: relative;
    }

    &__step {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: .075em;
        margin-bottom: 1em;
        padding-top: 6rem;
        text-transform: uppercase;

        + [class*='substep'] {
            margin-top: 2rem;
        }
    }

    &__substep {
        font-size: 1.25rem;
        margin-bottom: .5rem;
        margin-top: 4rem;
    }

    &__list {
        font-size: .85em;
        list-style: initial;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-left: 1rem;

        > li {
            margin-top: .5em;
        }

        & [class*='__list'] {
            font-size: 1em;
            list-style: circle;
            margin-bottom: 1rem;
            padding-left: 3em;
        }

    }

    &__thumb {

        margin-top: 4rem;

        &--sm {
            @include media('>md') {
                display: inline-block;
                margin-right: 2%;
                width: 40%;
            }

            width: 80%;

        }

        &--nocaption {
            > figcaption {
                display: none;
            }
        }

    }


    &__nav {
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transform: translateY(-100%);
        transition: 300ms;
        width: 100%;
        z-index: 2;

        &--is-show {
            opacity: 1;
            transform: translateY(0);
        }

    }


    [class*='--larger'] {
        $width: 70vw;
        $placement-correction: (100vw - $width)/2;
        
        box-shadow: 0 0 24px transparentize($color: $color--black, $amount: .95),
                    0 4px 12px transparentize($color: $color--black, $amount: .8);
        // left: -50%;
        position: relative;
        // transform: translateX(#{$placement-correction});
        width: $width;
    }
    
}
