.project {
    position: relative;

    &__cover {
        display: block;
        height: auto;
        max-width: 100%;
        width: 10rem;
    }

    &__responsible {
        background-color: $color-gray--lightest;
        display: block;
        font-size: .85rem;
        margin-bottom: 1rem;
        padding: .5rem;
        position: relative;
    }

    &__step {
        font-size: 1.75rem;
        font-weight: 900;
        letter-spacing: .075em;
        margin-bottom: 1em;
        padding-top: 6rem;
        position: relative;
        text-transform: uppercase;

        &::after {
            background-color: $color--active;
            content: '';
            height: .25rem;
            left: 0;
            position: absolute;
            top: calc(100% + .25rem);
            width: 2rem;
        }

        + [class*='substep'] {
            margin-top: 4rem;
        }
    }

    &__substep {
        font-size: 1.25rem;
        margin-bottom: .5rem;
        margin-top: 4rem;
    }

    &__list {
        font-size: .85em;
        list-style: none;
        margin-bottom: 1rem;
        margin-left: -1rem;
        margin-top: 1rem;
        padding-left: 1rem;

        > li {
            margin-top: .5em;

            &::before {
                color: $color--active;
                content: '_';
                display: inline-block;
                margin-left: -1em;
                width: 1em;
            }

        }

        & [class*='__list'] {
            font-size: 1em;
            list-style: circle;
            margin-bottom: 1rem;
            padding-left: 3em;

            > li {
                &::before {
                    display: none;
                }
            }
        }

    }

    &__thumb {

        margin-top: 4rem;

        .project__substep + & {
            margin-top: .5rem;
        }

        &--sm {
            @include media('>md') {
                display: inline-block;
                margin-right: 2%;
                width: 40%;
            }

            width: 80%;

        }

        &--nocaption {
            > figcaption {
                display: none;
            }
        }

    }


    &__nav {
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transform: translateY(-100%);
        transition: 300ms;
        width: 100%;
        z-index: 2;

        &--is-show {
            opacity: 1;
            transform: translateY(0);
        }

    }


    [class*='--larger'] {
        $width: 70vw;
        $placement-correction: (100vw - $width) / 2;

        box-shadow: 0 0 32px transparentize($color: $color--black, $amount: .95), 0 8px 24px transparentize($color: $color--black, $amount: .925);
        max-width: 100%;
        position: relative;
        width: $width;
    }

}
