---
tags: baseNav
layout: "base.njk"
title: About me
eleventyNavigation:
  key: About me
  order: 99
---

<h1 class="page__title">{{title}}</h1>

<section class="grid grid--2">
  <section>
    <p>I am a Product Designer at Talkdesk, working with incredible folks to deliver an efficient and delightful experience for the Talkdesk Dialer product.</p>
    <p>For more than 16+ years, I have been bridging the gap between users' interests, technical feasibility, and business objectives. In the last 11 years, I have been working exclusively as a Digital Product Designer.</p>
    <!-- <p>During my career as a Digital Product Designer, among other things, I highlight working with online education - building courses and designing online web apps, SaaS, and LMSs. While in the Education market, I worked with clients from different markets (like mining, oil, and telecommunication).</p> -->
    <!-- <p>I have worked on long-term established and new products, bringing them to life from the ground up - helping in each step of the product life cycle, always working should-to-shoulder with Product Owners and Product Managers to keep the product's communication, information, and direction clear to all involved: sales, marketing, content creators, developers, and other designers.</p> -->
    <p>Among the things I can do for your product, you will find <strong>design research</strong>, <strong>strategy</strong>, <strong>information
        architecture</strong>, <strong>diagramming and design of flows</strong>, <strong>prototyping</strong>,
      <strong>system thinking</strong>, <strong>usability testing</strong>, <strong>visual design</strong>, and
      <strong>web tech</strong> (HTML, CSS, and some JS).</p>
    <p>In my free time, I have been mentoring aspiring designers since June 2021, with some great results. Six mentees occupy all the time I offer now, but I might open new spots at the <strong>beginning of 2023</strong>.</p>
    <p>I have dual citizenship - Brazilian and Portuguese. I am currently living in the Porto, Portugal.</p>
    <p>If you are interested in discussing design, mentoring, tech, or education - or just looking to grab a good coffee and chat, <a rel="noopener noreferrer" href="https://www.linkedin.com/in/vicentesarmento/">send me a message</a>! I will love to connect with you.</p>
  </section>
  <img src="../images/about-me.png" alt="Vicente Sarmento, 39 years old, with a confident face.">
  <!-- <p>Hi! I am Vicente Sarmento (Vince), a <strong>14-year experienced designer</strong> bridging the gap between users' interests and company objectives working as a <strong>Product Designer</strong>.</p>
    <p><strong>I have worked on long-term established products and new ones</strong>, bringing them to life from the ground up - helping in each step of the product life cycle.</p>
    <p><strong>I have led product redesign and worked should-to-shoulder with Product Owners</strong> to keep the product's communication, information, and direction clear to all involved: sales, marketing, content creators, developers, and other designers.</p>
    <p>Working remotely at Semente Educação has been a blast - already three years and counting! The focus is on creating a delicious and engaging <strong>online learning experience for more than 20.000 students</strong> through three fully responsive web apps: Plataforma S, Coreskills, and <a rel="noopener noreferrer" href="http://www.programasemente.com.br" target="_blank">Programa Semente</a>.</p>
    <p>I share visual references about a wide range of topics at <a  rel="noopener noreferrer" href="https://www.instagram.com/_culturavisual/">_culturavisual</a> on Instagram.</p>
    <p>If you want to chat with me, send a message through <a rel="noopener noreferrer" href="https://www.linkedin.com/in/vicentesarmento/">Linkedin</a> or <a rel="noopener noreferrer" href="https://twitter.com/vicentesarmento">Twitter</a>.</p> -->
</section>